*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**
.topo-pag{
    border-bottom: 2px solid black;
    height: 100px;
    background-color: rgba(184, 171, 0, 0.842);

}

#logo{
    width: 50px;
    position: relative;

}
**/