{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">

    {% block title %}
    <title>Inicio</title>
    {% endblock title %}

</head>
<body>

    {% block top %}
    <div class="topo-pag">
        <!-- <img id="logo" src="{% static 'img/logo.png' %}" alt=""> -->


    </div>
    {% endblock top %}

    {% block header %} 
    <div class="header">
        <h1>Pagina inicial(base)</h1>
    </div>
    {% endblock header %}

    {% block content %}
    <div class="content">
        <h2></h2>
    </div>
    {% endblock content %}

    {% block footer %}
    <div class="footer">
        <h3></h3>
    </div>
    {% endblock footer %}
    
</body>
</html>